{{> header.hbs }}

<div>
    <div class="uk-margin-small-top uk-section uk-section-large">
        <h3 class="light uk-text-center">Derivative Rule | {{derivative.readable}}</h3>
        <p>See <a class="rem-1" href="/derivatives/all">all rules →</a></p>

        <div id="derivative">
            \frac d{dx}
        </div>
    </div>
</div>

{{> footer.hbs }}